 body {
    background: #F6F6F6;
    margin: 0;
}

.thumbnail{
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
}
.thumbnail-short{
    height: 40px;
}

.thumbnail:hover {
    border: 4px solid #4CAF50;
    cursor:pointer;
}

.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 800px;
}

#gallery {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

nav {
    margin-bottom: 20px;
	position: relative;
}

nav h3 {
	display:block;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    background-color: #333;
	width: 90%;
}

nav li {
    display: inline;
}

nav li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: #111;
}

nav a.active {
    background-color:#4CAF50;
}

#switch {
	display:inline;
	float: right;
	padding:0;
}
#switch:hover:not(.active) {
	background-color:transparent;
}

#thumbnails a {
    color: black;
}

#next {
    margin: auto;
}